body{
    background-color: #1d2029;
}

.background-shadow{

    background-color: #20222f; 
    height:250px; 
    margin-bottom:-212px;
    border-radius: 0px 0px 25px 25px;

}
.upper-border{
    border-top: 5px solid #198ff5;
    border-radius: 6px;
}